<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinzita.resource.mapper.HomeDataMapper">
    <select id="selectAccountNumber">
        select count(*) from home_info
    </select>
    <select id="selectIndicatorType">
        select count(*) from business_value_indicators
    </select>
    <select id="selectListType">
        select count(*) from list_type
    </select>
    <select id="selectUserNumber">
        select count(*) from sys_user
    </select>

    <select id="selectAllListTypeList" resultMap="com.jinzita.resource.mapper.ListTypeMapper.ListTypeResult">
        select * from list_type
    </select>
    <select id="selectAllBusinessValueIndicators" resultMap="com.jinzita.resource.mapper.BusinessValueIndicatorsMapper.BusinessValueIndicatorsResult">
        select * from business_value_indicators
    </select>
</mapper>